<div class="add-form">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input [(ngModel)]="noute.title" matInput>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input [(ngModel)]="noute.description" matInput>
    </mat-form-field>
    
    <button mat-raised-button (click)="noutesService.addNoute(noute.title, noute.description)" color="primary">Add</button>    
</div>

<div class="list-card">
    <div class="card" *ngFor="let noute of noutes">
        <mat-card>
            <mat-card-title>{{noute.title}}</mat-card-title>
            <mat-card-subtitle>{{noute.description}}</mat-card-subtitle>
            <mat-card-actions>
                <button mat-button>Edit</button>
                <button mat-button>Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
