.list-card {
  padding: 8px;
  height: 100%;
  overflow: auto;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.card {
  padding: 4px;
}

.title-noute {
  text-decoration: none;
}

.description-noute {
  white-space: pre-line;
  padding: 8px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noutes-container {
  height: calc(100% - 66px); 
  position: absolute;
  width: 100%;
}